<div>
  <div>ID Card:</div>
  <input type="text" [formControl]="idCard" />
</div>
<span
  class="error-message"
  *ngIf="idCard.invalid && idCard.errors.idCard && idCard.touched"
>
  invalid identity card
</span>

{{ idCard.errors | json }}

<div>
  <div>ID Tel:</div>
  <input type="text" [formControl]="isTel" />
</div>
<span
  class="error-message"
  *ngIf="isTel.invalid && isTel.errors.required && isTel.touched"
>
  This field is required
</span>
<span
  class="error-message"
  *ngIf="isTel.invalid && isTel.errors.minlength && isTel.touched"
>
  at least 5 characters
</span>

{{ isTel.errors | json }}
